<!-- Main Content -->

    {{reverse articles}}
     {{#if username}}
      {{#each articles}}
    <form class="form-inline" action="/delete/{{article_ID}}" method="POST">

      <div class="col-sm-12">
        <button type="submit" class="btn btn-outline-dark float-right">Delete</button>
        <button type="submit" formaction="/edit/{{article_ID}}" formmethod="GET" class="btn btn-outline-info float-right">Edit</button></a>
      </div>
    </form>
    <div class="post-preview" style="background-color: white">
      <a href="/articles/{{article_ID}}">
        <h2 class="post-title">
          {{title}}
        </h2>
        <p>{{{articleContent}}}</p>
      </a>
      <p class="post-meta">Posted by
        <a href="/contact">{{fullName}}</a>
      </p>
    </div>
    <hr> {{/each}} 
    {{else}} 
    {{#each articles}}
    <div class="post-preview" style="background-color: white">
      <a href="/articles/{{article_ID}}">
        <h2 class="post-title">
          {{title}}
        </h2>
        <p>{{{articleContent}}}</p>
      </a>
      <p class="post-meta">Posted by
        <a href="/contact">{{fullName}}</a>
      </p>
    </div>
    <hr>
    {{/each}}
     {{/if}}
  </div>